* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chartsWrap {
    width: 75%;
    margin: 0 auto;
}

.chartsContainer_innerWrap {
    display: flex;
    width: 50%;
}

.chartsContainer_innerWrap .barGraph:nth-of-type(2) {
    margin-left: 30px;
}
